.vhs {
  position: absolute;
  top: 12px;
  left: 12px;
}

.timer {
  position: absolute;
  top: 12px;
  right: 12px;
}

.quiz-container {
  margin: 120px auto 0 auto;
  max-width: 750px;
}

.start-div {
  text-align: center;
}

.answer-choices button {
  display: block;
}

.hide {
  display: none;
}

.feedback-div {
  font-style: normal;
  font-size: 150%;
  margin-top: 20px;
  padding-top: 10px;
  color: blanchedalmond;
  border-top: 2px solid #ccc;
}
